.landing-page {
    background-image: url(https://images.unsplash.com/photo-1470549813517-2fa741d25c92?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2QlMjBwcmVwfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    background-color: white;
    opacity: 50%;
}
body {
    font-family: sans-serif;
}

.login {
    margin-top: 50px;
}

.input-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
}

.list-group {
    width:75%;
    margin-top: 0px;   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.list-group-item {
    border-radius: 5px;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin-top: 5px;
}

.btn.btn-light:hover {
    background-color: red;
}

.card-text {
    overflow: auto;
    height:100%
}
.container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 500px;

}
.card-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.empty-card {
    display: flex;
    max-width: 250px;
    margin: 30px;
    margin-left: 40%;
}

#btn {
    margin-left: 46%;
}
