{% extends "layout.html" %} {% block title %} Homepage {% endblock%} {% block
main %} {% if empty_pantry == True %}
<div class="empty-card">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Your pantry is empty!</h5>
      <p class="card-text">
        To generate recipes, fill your pantry with some food.
      </p>
      <a href="/pantry" class="btn btn-primary">Head into your pantry</a>
    </div>
  </div>
</div>
{% endif %} {% for food in pantry_list %}
<div class="container">
  {% for card in total_cards %}
  <div class="card" style="width: 18rem">
    <img
      src="{{ recipe_info[food][food][0][0][card][0][0] }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ recipe_info[food][food][0][0][card][0][2] }}
      </h5>
      <p class="card-text">
        {% set ingredients = recipe_info[food][food][0][0][card][0][1] %} {% set
        ingredients = ingredients|string %} {{
        ingredients|replace('[','')|replace(']','')|replace("'","") }}
      </p>
      <a
        href="{{ recipe_info[food][food][0][1][card] }}"
        target="_blank"
        class="btn btn-primary"
        >Visit {{ recipe_info[food][food][0][0][card][0][3]}}</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %} {% endblock %}
